<section id="landing" class="px-4 py-5 my-5 text-center text-light">
  <h1 class="display-5 fw-bold mt-5" i18n>Valentina Catana</h1>
  <div class="col-lg-6 mx-auto mb-5">
    <p class="lead mb-5" i18n>Certified Translator</p>
    <p class="mb-5">
      <span i18n
        >Member of the Ordre des traducteurs, terminologues et interprètes
        agréés du Québec</span
      >
      (<a
        href="https://ottiaq.org/en/"
        class="link-light"
        target="_blank"
        rel="noopener"
        >OTTIAQ</a
      >)
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3">
        Primary button
      </button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4">
        Secondary
      </button>
    </div>
  </div>
</section>
