#hero {
  background-image: url(../../assets/images/desktop.jpg);
  background-position: center;
  background-size: cover;
  padding-bottom: 4rem;
  text-shadow: 0 0 2px #000;

  h1 {
    letter-spacing: 0.15rem;
  }

  p {
    color: var(--bs-gray-400);
  }

  .logo {
    width: 64px;
    height: 64px;
    margin-top: 4rem;
    margin-bottom: 10rem;
  }
}
