#hero {
  background-image: url(../../assets/images/hero-bg_576.jpg);
  background-position: center;
  background-size: cover;
  text-shadow: 0 0 2px #000;
  border-bottom: 5px solid var(--bs-main-brand-color);

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    background-image: url(../../assets/images/hero-bg_768.jpg);
  }
  // // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    background-image: url(../../assets/images/hero-bg_992.jpg);
  }
  // // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    background-image: url(../../assets/images/hero-bg_1200.jpg);
  }
  // // X-Large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    background-image: url(../../assets/images/hero-bg_1400.jpg);
  }
  // // XX-Large devices (larger desktops, 1400px and up)
  @media (min-width: 1400px) {
    background-image: url(../../assets/images/hero-bg_1920.jpg);
  }

  h1 {
    letter-spacing: 0.15rem;
  }

  p {
    color: var(--bs-gray-400);
  }

  .logo {
    box-sizing: content-box;
    background-image: url(../../assets/images/logo_128-monogram.png);
    background-size: 64px 64px;
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
  }
}
