@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.navbar {
  background-color: #a71717;
}

.navbar-collapse {
  font-family: "Roboto Slab";
  font-weight: 400;

  .logo,
  .language .long {
    display: none;
  }
}

.navbar-collapse.show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, #a71717, $red);

  .btn-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .logo {
    display: block;

    div {
      box-sizing: content-box;
      background-image: url(../../assets/images/logo_128-monogram.png);
      background-size: 64px 64px;
      background-repeat: no-repeat;
      background-position: center;
      width: 64px;
      height: 64px;
      opacity: 0.75;
    }
  }

  .section {
    font-size: 1.125rem;
  }

  .language .short {
    display: none;
  }

  .language .long {
    display: inline;
  }
}

.navbar-brand {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 40px;
  background-image: url(../../assets/images/logo_128-monogram.png);
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 0 0 0 40px;
  opacity: 0.55;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.75;
  }

  .name {
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1;
  }

  .title {
    font-size: 0.75rem;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.25px;
  }
}
