<nav class="navbar navbar-expand-sm navbar-dark shadow">
  <div class="container container-fluid">
    <a class="navbar-brand" href="/{{ locale }}" aria-label="Logo"></a>
    <button
      class="navbar-toggler"
      [ngClass]="{ collapsed: isMenuCollapsed }"
      type="button"
      (click)="toggleMenu()"
      aria-controls="navbarNav"
      [attr.aria-expanded]="!isMenuCollapsed"
      aria-label="Toggle navigation"
      i18n-aria-label
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="navbar-collapse collapse"
      [ngClass]="{ show: !isMenuCollapsed }"
      (window:resize)="collapseMenu()"
      id="navbarNav"
    >
      <ul
        class="navbar-nav ms-auto d-flex justify-content-center align-items-center text-center text-uppercase"
      >
        <li class="nav-item">
          <a class="nav-link" href="#" i18n>Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" i18n>Rates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" i18n>Testimonials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" i18n>Contact</a>
        </li>
        <li class="nav-item">
          <span class="separator px-2">&mid;</span>
        </li>
        <li class="nav-item">
          <a
            href="/en"
            class="nav-link"
            [ngClass]="{ 'active fw-bold': locale === 'en' }"
            [attr.aria-current]="locale === 'en' ? _language : undefined"
            >en</a
          >
        </li>
        <li class="nav-item">
          <a
            href="/fr"
            class="nav-link"
            [ngClass]="{ 'active fw-bold': locale === 'fr' }"
            [attr.aria-current]="locale === 'fr' ? _language : undefined"
            >fr</a
          >
        </li>
        <li class="nav-item">
          <a
            href="/ro"
            class="nav-link"
            [ngClass]="{ 'active fw-bold': locale === 'ro' }"
            [attr.aria-current]="locale === 'ro' ? _language : undefined"
            >ro</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
