<nav class="navbar navbar-expand-sm navbar-dark shadow">
  <div class="container container-fluid">
    <a class="navbar-brand" href="/{{ locale }}" aria-label="Logo"></a>
    <button
      type="button"
      class="navbar-toggler"
      [ngClass]="{ collapsed: isMenuClosed }"
      (click)="toggleMenu()"
      aria-controls="navbarNav"
      [attr.aria-expanded]="!isMenuClosed"
      aria-label="Toggle navigation"
      i18n-aria-label
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="navbar-collapse collapse"
      [ngClass]="{ show: !isMenuClosed }"
      (window:resize)="closeMenu()"
      id="navbarNav"
    >
      <button
        type="button"
        class="btn-close btn-close-white p-3"
        [ngClass]="{ 'd-none': isMenuClosed, 'd-block': !isMenuClosed }"
        (click)="closeMenu()"
        aria-label="Close"
        i18n-aria-label
      ></button>
      <ul
        class="navbar-nav ms-auto d-flex justify-content-center align-items-center text-center"
      >
        <li class="nav-item logo">
          <img
            src="assets/images/logo_128-monogram.png"
            alt="Logo"
            class="mt-n3 mb-3"
          />
        </li>
        <li class="nav-item section">
          <a class="nav-link" href="#" i18n>Services</a>
        </li>
        <li class="nav-item section">
          <a class="nav-link" href="#" i18n>Rates</a>
        </li>
        <li class="nav-item section">
          <a class="nav-link" href="#" i18n>Testimonials</a>
        </li>
        <li class="nav-item section">
          <a class="nav-link" href="#" i18n>Contact</a>
        </li>
        <li class="nav-item">
          <span class="separator px-2 fs-3">&bull;</span>
        </li>
        <li class="nav-item">
          <a
            href="/en"
            class="nav-link language"
            [ngClass]="{ 'active fw-bold': locale === 'en' }"
            [attr.aria-current]="locale === 'en' ? _language : undefined"
          >
            <span class="short">En</span>
            <span class="long">English</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            href="/fr"
            class="nav-link language"
            [ngClass]="{ 'active fw-bold': locale === 'fr' }"
            [attr.aria-current]="locale === 'fr' ? _language : undefined"
          >
            <span class="short">Fr</span>
            <span class="long">Français</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            href="/ro"
            class="nav-link language"
            [ngClass]="{ 'active fw-bold': locale === 'ro' }"
            [attr.aria-current]="locale === 'ro' ? _language : undefined"
          >
            <span class="short">Ro</span>
            <span class="long">Română</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
