@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.navbar {
  background-color: #800020;
}

.navbar-collapse.show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#800020, $red);

  .navbar-nav {
    height: 100%;
  }
}

.navbar-brand {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(../../assets/images/logo_64-stroke.png);
  background-size: contain;
}

.separator {
  color: rgba(255, 255, 255, 0.35);
}
