@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.navbar {
  background-color: #a71717;
  font-family: "Roboto Slab";
  font-weight: 400;
}

.navbar-collapse {
  .logo,
  .language .long {
    display: none;
  }
}

.navbar-collapse.show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, #a71717, $red);

  .navbar-nav {
    height: 100%;
  }

  .btn-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .logo {
    display: block;

    img {
      width: 64px;
      height: 64px;
    }
  }

  .section {
    font-size: 1.375rem;
  }

  .language .short {
    display: none;
  }

  .language .long {
    display: inline;
  }
}

.navbar-brand {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(../../assets/images/logo_64-stroke.png);
  background-size: contain;
}

.separator {
  color: rgba(255, 255, 255, 0.35);
}
