<section id="services">
  <div class="container py-5">
    <div class="row">
      <div class="col-sm-7">
        <h1 class="font-slab fw-bold">Services</h1>
        <p>
          I am a Certified Translator based in Montreal, Canada, and I offer
          professional translation services from and into
          <strong>English</strong>, <strong>French</strong> and
          <strong>Romanian</strong>. My focus is on translation of official
          documents*, general translation, technical translation and legal
          translation.
        </p>
        <p>
          I am a member of OTTIAQ (<i
            >Ordre des traducteurs terminologues et interprètes agréés du
            Québec</i
          >).
        </p>
        <p class="text-muted">
          <small>* I do not revise translations of official documents.</small>
        </p>
      </div>
    </div>
  </div>
</section>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
