<section id="services">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <h1 class="section-title">Services</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <p class="lead">
          Certified translations from and into English, French, Romanian.
        </p>
        <p>
          Official documents*, general translation, technical translation, legal
          translation (Power of Attorney, wills, Divorce Certificate).
        </p>
        <p class="text-muted">
          <small>* I do not revise translations of official documents.</small>
        </p>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>
</section>
