<section id="services">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-6">
        <h1 class="font-slab fw-bold">Services</h1>
        <p>
          I am a Certified Translator based in Montreal, Canada, and I offer
          professional translation services from and into
          <strong>English</strong>, <strong>French</strong> and
          <strong>Romanian</strong>. My focus is on translation of official
          documents*, general translation, technical translation and legal
          translation.
        </p>
        <p class="text-muted">
          <small>* I do not revise translations of official documents.</small>
        </p>
      </div>
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title font-slab fw-bold">At a glance</h5>
            <table class="table-sm">
              <tbody>
                <tr>
                  <td class="ps-0">Email:</td>
                  <td>
                    <a href="mailto:valentina.catana@gmail.com" class="fw-bold"
                      >valentina.catana@gmail.com</a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="ps-0">Phone:</td>
                  <td>
                    <a href="tel:+1-514-739-3882" class="fw-bold"
                      >1-514-739-3882</a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="ps-0">Hours:</td>
                  <td>Monday - Friday, 9 a.m. - 7 p.m.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
