// Variable overrides
$enable-negative-margins: true;

// Custom colors
$baltic-sea: #26242b;
$christine: #e6720b;
$dingley: #698343;
$merlot: #800020;
$mobster: #79767a;
$pomegranate: #f44336;
$raw-sienna: #d67a3c;
$roof-terracotta: #aa0c1f;
$westar: #deddd8;

$dark-accent: $raw-sienna;
$dark-shade: $baltic-sea;
$light-accent: $mobster;
$light-shade: $westar;

$custom-colors: (
  baltic-sea: $baltic-sea,
  christine: $christine,
  dingley: $dingley,
  merlot: $merlot,
  mobster: $mobster,
  pomegranate: $pomegranate,
  raw-sienna: $raw-sienna,
  roof-terracotta: $roof-terracotta,
  westar: $westar,
  dark-accent: $dark-accent,
  dark-shade: $dark-shade,
  light-accent: $light-accent,
  light-shade: $light-shade,
);

// Bootstrap theme variables
$primary: $merlot;
$success: $dingley;
$info: $baltic-sea;
$warning: $christine;
$danger: $pomegranate;

$body-bg: $light-shade;
$body-color: $dark-shade;

// Configuration
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// Merge custom colors
$colors: map-merge($custom-colors, $colors);

// Configuration cont.
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

// Layout & components
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";
// @import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
// @import "~bootstrap/scss/dropdown";
// @import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
// @import "~bootstrap/scss/card";
// @import "~bootstrap/scss/accordion";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
// @import "~bootstrap/scss/toasts";
// @import "~bootstrap/scss/modal";
// @import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
// @import "~bootstrap/scss/spinners";
// @import "~bootstrap/scss/offcanvas";
// @import "~bootstrap/scss/placeholders";

// Helpers
@import "~bootstrap/scss/helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";
