// Fonts
@import "./app/utils/fonts";

// Variable overrides
$font-family-sans-serif: "Open Sans", system-ui, -apple-system, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$enable-negative-margins: true;

// Custom colors
$main-brand-color: #800020;
$accent-brand-color: #aa0c1f;
$success-color: #698343;
$warning-color: #e6720b;
$danger-color: #f44336;
$dark-accent: #7979a0;
$dark-shade: #15151d;
$light-accent: #d89e4e;
$light-shade: #faf6f9;

$custom-colors: (
  main-brand-color: $main-brand-color,
  accent-brand-color: $accent-brand-color,
  success-color: $success-color,
  warning-color: $warning-color,
  danger-color: $danger-color,
  dark-accent: $dark-accent,
  dark-shade: $dark-shade,
  light-accent: $light-accent,
  light-shade: $light-shade,
);

// Bootstrap theme variables
$primary: $main-brand-color;
$success: $success-color;
$info: $dark-shade;
$warning: $warning-color;
$danger: $danger-color;

$body-bg: $light-shade;
$body-color: $dark-shade;

// Configuration
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// Merge custom colors
$colors: map-merge($custom-colors, $colors);

// Configuration cont.
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

// Layout & components
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
// @import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
// @import "~bootstrap/scss/dropdown";
// @import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
// @import "~bootstrap/scss/accordion";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
// @import "~bootstrap/scss/toasts";
// @import "~bootstrap/scss/modal";
// @import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
// @import "~bootstrap/scss/spinners";
// @import "~bootstrap/scss/offcanvas";
// @import "~bootstrap/scss/placeholders";

// Helpers
@import "~bootstrap/scss/helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";

// Global styles
::selection {
  background: rgba($light-accent, 0.4);
}

.font-slab {
  font-family: "Roboto Slab";
}

.bg-dark-accent {
  background-color: $dark-accent;
}
